.face{
    height: 400px;
    width: 400px;
    background-color: yellow;
    border-radius: 50%;
    border: 2px black solid;
}
.mouth{
    height: 75px;
    width: 200px;
    background-color: maroon;
    border-radius:0 0 50px 50px ;
    position: absolute;
    top: 250px;
    left: 100px;
}

.l,.r{
    height: 50px;
    width:50px ;
    border-radius: 50%;
    background-color: black;
    display: inline-block;
    position: absolute;
    left: 100px;
    right: 100px;
    top: 100px;

}
.r{
    left: 250px;
}